@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');

body {
    background-color: #D8D8D8;
}

/* TYPOGRAPHY */

h1 {
    color: #001648;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
}

h2 {
    color: #00E2C7;
    font-family: 'Source Code Pro', monospace;
}

/* TOP NAV */

#topNavBar {
    color:#001648;
    border-bottom: 3px solid #001648;
    background-color: #D8D8D8;
}

.navbar-brand {
    color: #001648;
}

.nav-item, .a, .ul, .li, .active, .default {
    color: #001648 !important;
    font-family: 'Source Code Pro', monospace;
}

.navbar-toggler {
    background-color: #001648;
}

/* HERO */

.HeroSection {
    width: 100vw;
    max-width: 1280px;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyHero {
    width: 50vw;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    z-index: 1;
    margin-left: 150px;
}
.imageProfile{
    width: 50vw;
    height: 350px;
    margin-left: -100px;
    z-index: 0;
}

#profileImage {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    filter: grayscale(100%);
}

@media only screen and (max-width: 768px) {
    .HeroSection {
    flex-direction: column;
    width: 90vw;
    margin-top: 100px;
    }
    .copyHero {
    width: 90vw;
    min-height: 300px;
    margin: 10px 0px 10px 10px;
    }
    .imageProfile {
    width: 90vw;
    min-height: 400px;
    margin: 10px 0px 0px 50px;
    }
}

/* TOOLBOX SECTION */

#toolBox {
    background-color: #001648;
    color: #00E2C7;
    width: 100vw;
    height: 80vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.toolBoxHeadline>h1 {
    padding-top: 100px;
    color: #00E2C7;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.toolBoxLogos {
    padding-top: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.toolBoxCopy {
    margin-top: 50px;
    color: #00E2C7;
    max-width: 800px;
    align-items: center;
    text-align: center;
    justify-content: center;
}